@import "./bootstrap.min.css";
@import "./bootstrap-theme.min.css";

@import "./jquery.fileupload.css";
@import "./jquery-ui.css";

.LeftSection .panel{
    z-index: 9999;
    cursor: move;
}

.ui-droppable-hover {
    border: 1px solid #00ff00;
    background: rgba(150,255,50,0.2);
}

.ui-droppable-active {
    border: 1px solid rgba(0,255,0,0.6);
    background: rgba(150,255,50,0.1);

}

.ui-droppable-hover {
    border: 1px solid #00ff00;
    background: rgba(150,255,50,0.2);
}

.ui-selectable div.ui-selected {
    border: 1px solid #0000ff;
}

.ui-selectable div.ui-selecting {
    border: 1px solid #0000ff;
    background: rgba(150,150,255,0.2);
}

.droppable div.ui-sortable-placeholder {
    border: 1px dotted #ff00ff;
}

.row {
    margin: 0px;
}

.CBItemClose{
    float: right;
    cursor: pointer;
}

.fieldBlock {
    margin-bottom: 8px;
    padding: 0px;
}

.fieldBlock .FBInside{
    border: 1px solid #deadcb;
    border-radius: 4px;
    padding: 10px;
}

.fieldBlock .FBInside.marginRight, .fieldBlock.marginRight{
    margin-right: 8px;
}

.fieldBlock .FBInside.marginLeft{
    margin-left: 8px;
}

.CBItem .BlockClose {
    width: 100%;
    position: relative;
}

.CBItem .block-image .BlockClose, .CBItem .block-image2 .BlockClose, .CBItem .block-image3 .BlockClose {
    position: absolute;
    margin-left: -32px;
}

.CBloks .CBItemClose, .CBItem .BlockClose div{
    background: #f06b00;
    color: #fff;
    border-radius: 12px;
    width: 19px;
    text-align: center;
    position: relative;
    margin-top: -24px;
    margin-right: -23px;
    font-size: 13px;
    display: none;
}

.CBItem .BlockClose div {
    position: static;
    float: right;
    margin-top: -17px;
    margin-right: -18px;
    font-size: 10px;
    width: 15px;
    background: #dc68af;
}

.CBloks .CBItemClose:hover{
    background: #ca2328;
    color: #fff;
    border-radius: 12px;
    width: 22px;
    text-align: center;
    position: relative;
    margin-top: -26px;
    margin-right: -24px;
    font-size: 16px;
}

.CBItem .BlockClose div:hover{
    background: #ff039d;
}

.fieldBlock.ImageBlock {
    text-align: center;
}

.fieldBlock i{
    color: #c3bebe;
}

.CBItem .panel-body:hover .CBItemClose {
    display: block;
}

.CBloks.panel {
    border: 0px;
    background: #f6f6f7;
    box-shadow: inset 0px 0px 8px 0px rgba(100, 100, 100, 0.35);
}

.CBItem:hover .panel-body {
    border: 1px solid rgba(240, 107, 0, 0.56);
    background: rgba(240, 107, 0, 0.06);
}

.CBItem {
    cursor: pointer;
    box-shadow: 0px 0px 10px 0px rgba(100, 100, 100, 0.2);
    width: 633px;
    display: inline-block;
    text-align: justify;
}

.fieldBlock:hover .BlockClose div{
    display: block;
}

.FBlockMarginBootm {
    margin-bottom: 10px;
}

.RSImage img{
    max-width: 306px;
}

.droppable {
    text-align: center;
}

.RSImage {
    margin-bottom: 5px;
}

.LSTypesItem {
    width: 68px;
    height: 45px;
    display: inline-block;
}

.LSTypesItem.blockType1 {
    background: url(../image/types/type1.png) left top;
}
.LSTypesItem.blockType1:hover {
    background: url(../image/types/type1.png) 62px top;
}

.LSTypesItem.blockType2 {
    background: url(../image/types/type2.png) left top;
}
.LSTypesItem.blockType2:hover {
    background: url(../image/types/type2.png) 62px top;
}

.LSTypesItem.blockType3 {
    background: url(../image/types/type3.png) left top;
}
.LSTypesItem.blockType3:hover {
    background: url(../image/types/type3.png) 62px top;
}
.LSTypesItem.blockType4 {
    background: url(../image/types/type4.png) left top;
}
.LSTypesItem.blockType4:hover {
    background: url(../image/types/type4.png) 62px top;
}
.LSTypesItem.blockType5 {
    background: url(../image/types/type5.png) left top;
}
.LSTypesItem.blockType5:hover {
    background: url(../image/types/type5.png) 62px top;
}
.LSTypesItem.blockType6 {
    background: url(../image/types/type6.png) left top;
}
.LSTypesItem.blockType6:hover {
    background: url(../image/types/type6.png) 62px top;
}
.droppable  .panel {
    margin: 0px;
}

.droppable  .col-xs-6, .droppable  .col-xs-4 {
    padding: 0px;
}

#editor {overflow:scroll; max-height:300px}

select.form-control.wysiwyg-select {
    max-width: 175px;
}

.fieldBlock.ImageBlock .FBInside {
    overflow: hidden;
}

.LeftSection {
    margin-top: 104px;
}

.LeftSection .panel-body{
    padding: 10px 0px ;
}

.LastSave {
    color: #afafaf;
}

.cursorPoint {
    cursor: pointer;
}

.addButton {
    float: right;
    margin-top: 20px;
}

.panel.panel-success.subjectParams {
    margin-top: 5px;
}

.panel.panel-success.subjectParams .panel-heading{
    padding: 4px 10px;
}

.panel.panel-success.subjectParams .panel-body{
    padding: 5px 10px;
    font-size: 12px;
    background: #edffe6;
}

.BPositionTop{
    position: fixed;
    margin-top: 15px;
}

.LeftSection.BPositionTop .panel-body.text-center{
    padding: 10px 2px 10px 10px;
}

.RightSection {
    height: 100%;
    overflow-y: auto;
    padding-bottom: 20px;
}

.RightSection.BPositionTop {
    right: 0;
}