<div ng-controller="IndexController" class="container">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active">Main</li>
    </ol>
    <div class="clearfix">
        <div class="addButton">
            <button type="button" ng-click="addItem()" class="btn btn-success">Add new</button>
        </div>
        <h1>List subscribes</h1>
    </div>
    <table class="table table-hover">
        <tr>
            <th>#ID</th>
            <th>Name</th>
            <th>Template</th>
            <th>Date</th>
        </tr>
        <tr ng-repeat="item in list" ng-click="getDescription(item.id)">
            <td>{{item.id}}</td>
            <td>{{item.name}}</td>
            <td>{{templateName(item.template_id)}}</td>
            <td>{{item.date | date: 'dd.MM.yyyy'}}</td>
        </tr>
    </table>
</div>