<div class="col-xs-1" ng-controller="LeftSectionController">
    <ng-include src="'views/leftSection.html'"></ng-include>
</div>
<div class="col-xs-7">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#/index">Main</a></li>
        <li class="breadcrumb-item active">Item</li>
    </ol>
    <h1>Center</h1>
    <div class="panel panel-success paramBlock">
        <div class="panel-heading cursorPoint" ng-click="openParams = !openParams">Subscribe parameters</div>
        <div class="panel-body" ng-show="openParams">
            <form name="blockForm" >
                <div class="form-group">
                    <label for="name">Name:</label>
                    <input type="text" class="form-control" id="name" ng-model="centerData.params.name" />
                </div>
                <div class="form-group">
                    <label for="template">Template:</label>
                    <select class="form-control" ng-model="centerData.params.template" id="template">
                        <option ng-repeat="item in templates" value="{{item.id}}">{{item.name}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <button type="button" ng-click="openParams = !openParams" class="btn btn-default">Close params</button>
                    <button type="button" ng-click="saveItem()" class="btn btn-success">Save</button>
                </div>
            </form>
        </div>
    </div>
    <div class="CBloks panel panel-default">
        <div class="panel-body droppable">
            <div ng-repeat="block in centerData.blocks | orderBy : 'sort' | filter:filterDeleteItems track by $index " class="CBItem sortable" id="block{{block.id}}" ng-click="selectBlock( block )" >
                <div ng-controller="BlockController">
                    <div class="panel panel-default item-{{block.id}}">
                        <div class="panel-body">

                            <div class="CBItemClose" ng-click="itemClose(block.id)">X</div>
                            <div ng-if="block.params.subject != 'del'" class="fieldBlock TextBlock col-xs-12 blocks block-subject">
                                <div class="FBInside">
                                    <div class="BlockClose"><div ng-click="blockClose(block.id, 'subject')">X</div></div>
                                    <ng-bind-html ng-bind-html="subjectBlock(block)" style="{{subjectStyle(block)}}"></ng-bind-html>
                                </div>
                            </div>

                            <div ng-switch on="block.type">
    <!------------------------------------------------------ 1 ----------------------------------------------------------->
                                <div ng-switch-when="1-type"><!-- BlockType1 -->
                                    <div ng-if="block.params.text != 'del'" class="fieldBlock TextBlock col-xs-12 blocks block-text">
                                        <div class="FBInside">
                                            <div class="BlockClose"><div ng-click="blockClose(block.id, 'text')">X</div></div>
                                            <ng-bind-html ng-bind-html="textBlock(block)"></ng-bind-html>
                                        </div>
                                    </div>
                                </div>
    <!------------------------------------------------------ 2 ----------------------------------------------------------->
                                <div ng-switch-when="2-type"> <!-- BlockType2 -->
                                    <div ng-if="block.params.image != 'del'" class="fieldBlock ImageBlock col-xs-12 blocks block-image">
                                        <div class="FBInside">
                                            <div class="BlockClose"><div ng-click="blockClose(block.id, 'image')">X</div></div>
                                            <ng-bind-html ng-bind-html="imageBlock(block)"></ng-bind-html>
                                        </div>
                                    </div>
                                    <div ng-if="block.params.text != 'del'" class="fieldBlock TextBlock col-xs-12 blocks block-text">
                                        <div class="FBInside">
                                            <div class="BlockClose"><div ng-click="blockClose(block.id, 'text')">X</div></div>
                                            <ng-bind-html ng-bind-html="textBlock(block)"></ng-bind-html>
                                        </div>
                                    </div>
                                </div>
    <!------------------------------------------------------ 3 ----------------------------------------------------------->
                                <div ng-switch-when="3-type"> <!-- BlockType3 -->
                                    <div ng-if="block.params.image != 'del'" class="fieldBlock ImageBlock col-xs-4 blocks block-image">
                                        <div class="FBInside marginRight">
                                            <div class="BlockClose"><div ng-click="blockClose(block.id, 'image')">X</div></div>
                                            <ng-bind-html ng-bind-html="imageBlock(block)"></ng-bind-html>
                                        </div>
                                    </div>
                                    <div ng-if="block.params.text != 'del'" class="fieldBlock TextBlock col-xs-8 blocks block-text">
                                        <div class="FBInside">
                                            <div class="BlockClose"><div ng-click="blockClose(block.id, 'text')">X</div></div>
                                            <ng-bind-html ng-bind-html="textBlock(block)"></ng-bind-html>
                                        </div>
                                    </div>
                                </div>
    <!------------------------------------------------------ 4 ----------------------------------------------------------->
                                <div ng-switch-when="4-type"> <!-- BlockType4 -->
                                    <div ng-if="block.params.text != 'del'" class="fieldBlock TextBlock col-xs-8 blocks block-text">
                                        <div class="FBInside marginRight">
                                            <div class="BlockClose"><div ng-click="blockClose(block.id, 'text')">X</div></div>
                                            <ng-bind-html ng-bind-html="textBlock(block)"></ng-bind-html>
                                        </div>
                                    </div>
                                    <div ng-if="block.params.image != 'del'" class="fieldBlock ImageBlock col-xs-4 blocks block-image">
                                        <div class="FBInside">
                                            <div class="BlockClose"><div ng-click="blockClose(block.id, 'image')">X</div></div>
                                            <ng-bind-html ng-bind-html="imageBlock(block)"></ng-bind-html>
                                        </div>
                                    </div>
                                </div>
    <!------------------------------------------------------ 5 ----------------------------------------------------------->
                                <div ng-switch-when="5-type"> <!-- BlockType5 -->
                                    <div class="col-xs-6">
                                        <div ng-if="block.params.image != 'del'" class="fieldBlock ImageBlock blocks block-image">
                                            <div class="FBInside marginRight">
                                                <div class="BlockClose"><div ng-click="blockClose(block.id, 'image')">X</div></div>
                                                <ng-bind-html ng-bind-html="imageBlock(block)"></ng-bind-html>
                                            </div>
                                        </div>
                                        <div ng-if="block.params.text != 'del'" class="fieldBlock TextBlock blocks block-text">
                                            <div class="FBInside marginRight">
                                                <div class="BlockClose"><div ng-click="blockClose(block.id, 'text')">X</div></div>
                                                <ng-bind-html ng-bind-html="textBlock(block)"></ng-bind-html>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-6">
                                        <div ng-if="block.params.image2 != 'del'" class="fieldBlock ImageBlock blocks block-image2">
                                            <div class="FBInside">
                                                <div class="BlockClose"><div ng-click="blockClose(block.id, 'image2')">X</div></div>
                                                <ng-bind-html ng-bind-html="imageBlock(block, 'image2')"></ng-bind-html>
                                            </div>
                                        </div>
                                        <div ng-if="block.params.text2 != 'del'" class="fieldBlock TextBlock blocks block-text2">
                                            <div class="FBInside">
                                                <div class="BlockClose"><div ng-click="blockClose(block.id, 'text2')">X</div></div>
                                                <ng-bind-html ng-bind-html="textBlock(block, 'text2')"></ng-bind-html>
                                            </div>
                                        </div>
                                    </div>
                                </div>
    <!------------------------------------------------------ 6 ----------------------------------------------------------->
                                <div ng-switch-when="6-type"> <!-- BlockType6 -->
                                    <div class="col-xs-4 ">
                                        <div ng-if="block.params.image != 'del'" class="fieldBlock ImageBlock  blocks block-image marginRight">
                                            <div class="FBInside">
                                                <div class="BlockClose"><div ng-click="blockClose(block.id, 'image')">X</div></div>
                                                <ng-bind-html ng-bind-html="imageBlock(block)"></ng-bind-html>
                                            </div>
                                        </div>
                                        <div ng-if="block.params.text != 'del'" class="fieldBlock TextBlock blocks block-text marginRight">
                                            <div class="FBInside ">
                                                <div class="BlockClose"><div ng-click="blockClose(block.id, 'text')">X</div></div>
                                                <ng-bind-html ng-bind-html="textBlock(block)"></ng-bind-html>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-4">
                                        <div ng-if="block.params.image2 != 'del'" class="fieldBlock ImageBlock  blocks block-image2 marginRight">
                                            <div class="FBInside">
                                                <div class="BlockClose"><div ng-click="blockClose(block.id, 'image2')">X</div></div>
                                                <ng-bind-html ng-bind-html="imageBlock(block, 'image2')"></ng-bind-html>
                                            </div>
                                        </div>
                                        <div ng-if="block.params.text2 != 'del'" class="fieldBlock TextBlock blocks block-text marginRight">
                                            <div class="FBInside">
                                                <div class="BlockClose"><div ng-click="blockClose(block.id, 'text2')">X</div></div>
                                                <ng-bind-html ng-bind-html="textBlock(block, 'text2')"></ng-bind-html>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-4">
                                        <div ng-if="block.params.image3 != 'del'" class="fieldBlock ImageBlock  blocks block-image3">
                                            <div class="FBInside">
                                                <div class="BlockClose"><div ng-click="blockClose(block.id, 'image3')">X</div></div>
                                                <ng-bind-html ng-bind-html="imageBlock(block, 'image3')"></ng-bind-html>
                                            </div>
                                        </div>
                                        <div ng-if="block.params.text3 != 'del'" class="fieldBlock TextBlock blocks block-text">
                                            <div class="FBInside">
                                                <div class="BlockClose"><div ng-click="blockClose(block.id, 'text3')">X</div></div>
                                                <ng-bind-html ng-bind-html="textBlock(block, 'text3')"></ng-bind-html>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-danger" ng-show="!centerData.blocks || centerData.blocks.length == 0">
                <div class="panel-body">
                    To create a mailing list, you need to move the elements on the left panel in the center.<br/>
                    To edit / fill data is necessary to click on the desired block.
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-success">
        <div class="panel-body">
            <a href="http://info.embassyalliance.ru/api/preview/{{routeId}}" target="_blank" class="btn btn-info">Preview</a>
            <button type="button" ng-click="saveItem()" class="btn btn-success">Save</button>
            <span class="LastSave" ng-if="saveDate>0">&nbsp;Last save: {{saveDate|date: "hh:mm dd.MM.yyyy"}}</span>
        </div>
    </div>
</div>
<ng-include src="'views/rightSection.html'"></ng-include>