<div class="LeftSection">
    <div class="panel panel-success">
        <div class="panel-body text-center">
            <div ng-repeat="block in listTypes" class="LSTypes draggable" data-type={{block.type}}>
                <div class="LSTypesItem {{block.params.class}}"></div>
            </div>
        </div>
    </div>
    {{loadDraggable()}}
</div>