<div class="col-xs-4 RightSection" ng-controller="RightSectionController" ng-show="selectBlock.id > 0">
    <br/>
    <form name="blockForm" >
        <div class="form-group" ng-show="selectBlock.params.subject != 'del'">
            <label for="block{{selectBlock.id}}subject">Subject:</label>
            <input type="text" class="form-control" ng-model="selectBlock.params.subject" id="block{{selectBlock.id}}subject" placeholder="Subject" />
            <div class="panel panel-success subjectParams">
                <div class="panel-heading cursorPoint" ng-click="subjectParamsStatus = !subjectParamsStatus" >Subject parametrs</div>
                <div class="panel-body" ng-show="subjectParamsStatus">
                    <div class="form-group col-xs-4">
                        <label for="subject-params-font">Font family:</label>
                        <select class="form-control" id="subject-params-font" ng-model="selectBlock.params.subjectparams.font">
                            <option label="Arial" value="Arial">Arial</option><option label="Arial Black" value="Arial Black">Arial Black</option><option label="Comic Sans MS" value="Comic Sans MS">Comic Sans MS</option><option label="Courier New" value="Courier New">Courier New</option><option label="Georgia" value="Georgia">Georgia</option><option label="Helvetica" value="Helvetica">Helvetica</option><option label="Helvetica Neue" value="Helvetica Neue" selected="selected">Helvetica Neue</option><option label="Impact" value="Impact">Impact</option><option label="Lucida Console" value="Lucida Console">Lucida Console</option><option label="Lucida Sans Unicode" value="Lucida Sans Unicode">Lucida Sans Unicode</option><option label="Palatino Linotype" value="Palatino Linotype">Palatino Linotype</option><option label="Tahoma" value="Tahoma">Tahoma</option><option label="Times New Roman" value="Times New Roman">Times New Roman</option><option label="Trebuchet MS" value="Trebuchet MS">Trebuchet MS</option><option label="Verdana" value="Verdana">Verdana</option>
                        </select>
                    </div>
                    <div class="form-group col-xs-4">
                        <label for="subject-params-color">Color:</label>
                        <div id="subject-params-color" class="input-group">
                            <input type="text" style="background:{{selectBlock.params.subjectparams.color}};color:#000" colorpicker ng-model="selectBlock.params.subjectparams.color" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group col-xs-4">
                        <label for="subject-params-size">Size:</label>
                        <select class="form-control" id="subject-params-size" ng-model="selectBlock.params.subjectparams.size">
                            <option value="10p">10px</option><option value="13" selected="selected">13px</option><option value="16">16px</option><option value="18">18px</option><option value="24">24px</option><option value="32">32px</option><option value="48">48px</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <ng-switch on="selectBlock.type">
<!------------------------------------------ 1 ----------------------------------------------------------->
            <fieldset ng-switch-when="1-type">
                <div class="form-group" ng-show="selectBlock.params.text != 'del'">
                    <label for="block{{selectBlock.id}}text">Text:</label>
                    <wysiwyg textarea-id="block{{selectBlock.id}}text"
                             textarea-class="form-control"
                             textarea-height="300px"
                             textarea-name="block{{selectBlock.id}}textareaText"
                             ng-model="selectBlock.params.text"
                             textarea-menu="menu"
                             disabled="disabled">
                    </wysiwyg>
                </div>
            </fieldset>
<!------------------------------------------ 2 ----------------------------------------------------------->
            <fieldset ng-switch-when="2-type">
                <div class="form-group" ng-show="selectBlock.params.image != 'del'">
                    <div class="RSImage" ng-show="selectBlock.params.image"><img src="{{selectBlock.params.image}}" /></div>
                    <span class="btn btn-success fileinput-button">
                        <i class="glyphicon glyphicon-plus"></i>
                        <span>Select image...</span>
                                    <!-- The file input field used as target for the file upload widget -->
                        <input class="fileupload" type="file" name="files[]" ng-click="uploadImage(block, 'image')"/>
                    </span>
                    <span class="btn btn-danger" ng-click="deleteImage(selectBlock.params.image)" ng-show="selectBlock.params.image">
                        <i class="glyphicon glyphicon-remove"></i>
                        <span>Delete image</span>
                    </span>
                    <br>
                    <br>
                    <!-- The global progress bar -->
                    <div id="progress" class="progress">
                        <div class="progress-bar progress-bar-success"></div>
                    </div>
                    <!-- The container for the uploaded files -->
                    <div id="files" class="files"></div>
                </div>
                <div class="form-group" ng-show="selectBlock.params.text != 'del'">
                    <label for="block{{selectBlock.id}}text">Text:</label>
                    <wysiwyg textarea-id="block{{selectBlock.id}}text"
                             textarea-class="form-control"
                             textarea-height="100px"
                             textarea-name="block{{selectBlock.id}}textareaText"
                             ng-model="selectBlock.params.text"
                             textarea-menu="menu"
                             disabled="disabled">
                    </wysiwyg>
                </div>
            </fieldset>
<!------------------------------------------ 3 ----------------------------------------------------------->
            <fieldset ng-switch-when="3-type">
                <div class="form-group" ng-show="selectBlock.params.image != 'del'">
                    <div class="RSImage" ng-show="selectBlock.params.image"><img src="{{selectBlock.params.image}}" /></div>
                    <span class="btn btn-success fileinput-button">
                        <i class="glyphicon glyphicon-plus"></i>
                        <span>Select image...</span>
                        <!-- The file input field used as target for the file upload widget -->
                        <input class="fileupload" type="file" name="files[]" ng-click="uploadImage(block, 'image', 'small')"/>
                    </span>
                    <span class="btn btn-danger" ng-click="deleteImage(selectBlock.params.image)" ng-show="selectBlock.params.image">
                        <i class="glyphicon glyphicon-remove"></i>
                        <span>Delete image</span>
                    </span>
                    <br>
                    <br>
                    <!-- The global progress bar -->
                    <div id="progress" class="progress">
                        <div class="progress-bar progress-bar-success"></div>
                    </div>
                    <!-- The container for the uploaded files -->
                    <div id="files" class="files"></div>
                </div>
                <div class="form-group" ng-show="selectBlock.params.text != 'del'">
                    <label for="block{{selectBlock.id}}text">Text:</label>
                    <wysiwyg textarea-id="block{{selectBlock.id}}text"
                             textarea-class="form-control"
                             textarea-height="100px"
                             textarea-name="block{{selectBlock.id}}textareaText"
                             ng-model="selectBlock.params.text"
                             textarea-menu="menu"
                             disabled="disabled">
                    </wysiwyg>
                </div>
            </fieldset>
<!------------------------------------------ 4 ----------------------------------------------------------->
            <fieldset ng-switch-when="4-type">
                <div class="form-group" ng-show="selectBlock.params.image != 'del'">
                    <div class="RSImage" ng-show="selectBlock.params.image"><img src="{{selectBlock.params.image}}" /></div>
                    <span class="btn btn-success fileinput-button">
                        <i class="glyphicon glyphicon-plus"></i>
                        <span>Select image...</span>
                        <!-- The file input field used as target for the file upload widget -->
                        <input class="fileupload" type="file" name="files[]" ng-click="uploadImage(block, 'image', 'small')"/>
                    </span>
                    <span class="btn btn-danger" ng-click="deleteImage(selectBlock.params.image)" ng-show="selectBlock.params.image">
                        <i class="glyphicon glyphicon-remove"></i>
                        <span>Delete image</span>
                    </span>
                    <br>
                    <br>
                    <!-- The global progress bar -->
                    <div id="progress" class="progress">
                        <div class="progress-bar progress-bar-success"></div>
                    </div>
                    <!-- The container for the uploaded files -->
                    <div id="files" class="files"></div>
                </div>
                <div class="form-group" ng-show="selectBlock.params.text != 'del'">
                    <label for="block{{selectBlock.id}}text">Text:</label>
                    <wysiwyg textarea-id="block{{selectBlock.id}}text"
                             textarea-class="form-control"
                             textarea-height="100px"
                             textarea-name="block{{selectBlock.id}}textareaText"
                             ng-model="selectBlock.params.text"
                             textarea-menu="menu"
                             disabled="disabled">
                    </wysiwyg>
                </div>
            </fieldset>
<!------------------------------------------ 5 ----------------------------------------------------------->
            <fieldset ng-switch-when="5-type">
                <div class="form-group" ng-show="selectBlock.params.image != 'del'">
                    <label>Image 1:</label><br/>
                    <div class="RSImage" ng-show="selectBlock.params.image"><img src="{{selectBlock.params.image}}" /></div>
                    <span class="btn btn-success fileinput-button">
                        <i class="glyphicon glyphicon-plus"></i>
                        <span>Select image...</span>
                        <!-- The file input field used as target for the file upload widget -->
                        <input class="fileupload" type="file" name="files[]" ng-click="uploadImage(block, 'image', 'medium')"/>
                    </span>
                    <span class="btn btn-danger" ng-click="deleteImage(selectBlock.params.image)" ng-show="selectBlock.params.image">
                        <i class="glyphicon glyphicon-remove"></i>
                        <span>Delete image</span>
                    </span>
                    <br>
                    <br>
                    <!-- The global progress bar -->
                    <div id="progress" class="progress">
                        <div class="progress-bar progress-bar-success"></div>
                    </div>
                    <!-- The container for the uploaded files -->
                    <div id="{{selectBlock.id}}imagefiles" class="files"></div>
                </div>
                <div class="form-group" ng-show="selectBlock.params.text!='del'">
                    <label for="block{{selectBlock.id}}text">Text 1:</label>
                    <wysiwyg textarea-id="block{{selectBlock.id}}text"
                             textarea-class="form-control"
                             textarea-height="100px"
                             textarea-name="block{{selectBlock.id}}textareaText"
                             ng-model="selectBlock.params.text"
                             textarea-menu="menu"
                             disabled="disabled">
                    </wysiwyg>
                </div>
                <div class="form-group" ng-show="selectBlock.params.image2 != 'del'">
                    <label>Image 2:</label>
                    <div class="RSImage" ng-show="selectBlock.params.image2"><img src="{{selectBlock.params.image2}}" /></div>
                    <span class="btn btn-success fileinput-button">
                        <i class="glyphicon glyphicon-plus"></i>
                        <span>Select image...</span>
                        <!-- The file input field used as target for the file upload widget -->
                        <input class="fileupload" type="file" name="files[]" ng-click="uploadImage(block, 'image2', 'medium')"/>
                    </span>
                    <span class="btn btn-danger" ng-click="deleteImage(selectBlock.params.image2)" ng-show="selectBlock.params.image2">
                        <i class="glyphicon glyphicon-remove"></i>
                        <span>Delete image</span>
                    </span>
                    <br>
                    <br>
                    <!-- The global progress bar -->
                    <div id="progress" class="progress">
                        <div class="progress-bar progress-bar-success"></div>
                    </div>
                    <!-- The container for the uploaded files -->
                    <div id="{{selectBlock.id}}image2files" class="files"></div>
                </div>
                <div class="form-group" ng-show="selectBlock.params.text2!='del'">
                    <label for="block{{selectBlock.id}}text2">Text 2:</label>
                    <wysiwyg textarea-id="block{{selectBlock.id}}text2"
                             textarea-class="form-control"
                             textarea-height="100px"
                             textarea-name="block{{selectBlock.id}}textareaText2"
                             ng-model="selectBlock.params.text2"
                             textarea-menu="menu"
                             disabled="disabled">
                    </wysiwyg>
                </div>
            </fieldset>
<!------------------------------------------ 6 ----------------------------------------------------------->
            <fieldset ng-switch-when="6-type">
                <div class="form-group" ng-show="selectBlock.params.image != 'del'">
                    <label>Image 1:</label><br/>
                    <div class="RSImage" ng-show="selectBlock.params.image"><img src="{{selectBlock.params.image}}" /></div>
                    <span class="btn btn-success fileinput-button">
                        <i class="glyphicon glyphicon-plus"></i>
                        <span>Select image...</span>
                        <!-- The file input field used as target for the file upload widget -->
                        <input class="fileupload" type="file" name="files[]" ng-click="uploadImage(block, 'image', 'small')"/>
                    </span>
                    <span class="btn btn-danger" ng-click="deleteImage(selectBlock.params.image)" ng-show="selectBlock.params.image">
                        <i class="glyphicon glyphicon-remove"></i>
                        <span>Delete image</span>
                    </span>
                    <br>
                    <br>
                    <!-- The global progress bar -->
                    <div id="progress" class="progress">
                        <div class="progress-bar progress-bar-success"></div>
                    </div>
                    <!-- The container for the uploaded files -->
                    <div id="{{selectBlock.id}}imagefiles" class="files"></div>
                </div>
                <div class="form-group" ng-show="selectBlock.params.text != 'del'">
                    <label for="block{{selectBlock.id}}text">Text 1:</label>
                    <wysiwyg textarea-id="block{{selectBlock.id}}text"
                             textarea-class="form-control"
                             textarea-height="100px"
                             textarea-name="block{{selectBlock.id}}textareaText"
                             ng-model="selectBlock.params.text"
                             textarea-menu="menu"
                             disabled="disabled">
                    </wysiwyg>
                </div>
                <div class="form-group" ng-show="selectBlock.params.image2 != 'del'">
                    <label>Image 2:</label><br/>
                    <div class="RSImage" ng-show="selectBlock.params.image2"><img src="{{selectBlock.params.image2}}" /></div>
                    <span class="btn btn-success fileinput-button">
                        <i class="glyphicon glyphicon-plus"></i>
                        <span>Select image...</span>
                        <!-- The file input field used as target for the file upload widget -->
                        <input class="fileupload" type="file" name="files[]" ng-click="uploadImage(block, 'image2', 'small')"/>
                    </span>
                    <span class="btn btn-danger" ng-click="deleteImage(selectBlock.params.image2)" ng-show="selectBlock.params.image2">
                        <i class="glyphicon glyphicon-remove"></i>
                        <span>Delete image</span>
                    </span>
                    <br>
                    <br>
                    <!-- The global progress bar -->
                    <div id="progress" class="progress">
                        <div class="progress-bar progress-bar-success"></div>
                    </div>
                    <!-- The container for the uploaded files -->
                    <div id="{{selectBlock.id}}imagefiles" class="files"></div>
                </div>
                <div class="form-group" ng-show="selectBlock.params.text2 != 'del'">
                    <label for="block{{selectBlock.id}}text2">Text 2:</label>
                    <wysiwyg textarea-id="block{{selectBlock.id}}text2"
                             textarea-class="form-control"
                             textarea-height="100px"
                             textarea-name="block{{selectBlock.id}}textareaText2"
                             ng-model="selectBlock.params.text2"
                             textarea-menu="menu"
                             disabled="disabled">
                    </wysiwyg>
                </div>
                <div class="form-group" ng-show="selectBlock.params.image3 != 'del'">
                    <label>Image 3:</label><br/>
                    <div class="RSImage" ng-show="selectBlock.params.image3"><img src="{{selectBlock.params.image3}}" /></div>
                    <span class="btn btn-success fileinput-button">
                        <i class="glyphicon glyphicon-plus"></i>
                        <span>Select image...</span>
                        <!-- The file input field used as target for the file upload widget -->
                        <input class="fileupload" type="file" name="files[]" ng-click="uploadImage(block, 'image3', 'small')"/>
                    </span>
                    <span class="btn btn-danger" ng-click="deleteImage(selectBlock.params.image3)" ng-show="selectBlock.params.image3">
                        <i class="glyphicon glyphicon-remove"></i>
                        <span>Delete image</span>
                    </span>
                    <br>
                    <br>
                    <!-- The global progress bar -->
                    <div id="progress" class="progress">
                        <div class="progress-bar progress-bar-success"></div>
                    </div>
                    <!-- The container for the uploaded files -->
                    <div id="{{selectBlock.id}}imagefiles" class="files"></div>
                </div>
                <div class="form-group" ng-show="selectBlock.params.text3 != 'del'">
                    <label for="block{{selectBlock.id}}text3">Text 3:</label>
                    <wysiwyg textarea-id="block{{selectBlock.id}}text3"
                             textarea-class="form-control"
                             textarea-height="100px"
                             textarea-name="block{{selectBlock.id}}textareaText3"
                             ng-model="selectBlock.params.text3"
                             textarea-menu="menu"
                             disabled="disabled">
                    </wysiwyg>
                </div>
            </fieldset>
<!-------------------------------------------------------------------------------------------------------->
            <fieldset ng-switch-default>
            </fieldset>
        </ng-switch>
        <div class="form-group">
            <button type="button" ng-click="cancel()" class="btn btn-default">Cansel</button>&nbsp;
            <button type="button" ng-click="save()" class="btn btn-success">Save</button>
        </div>
    </form>
</div>