<div class="panel panel-default item-{{block.id}}">
    <div class="panel-body">
        <div class="CBItemClose" ng-click="itemClose(block.id)">X</div>
        <div ng-if="subjectBlock" class="fieldBlock TextBlock col-xs-12 FBlockMarginBootm blocks block-subject">
            <div class="BlockClose"><div ng-click="blockClose(block.id, 'subject')">X</div></div>
            <div ng-bind-html="subjectBlock"></div>
        </div>

    </div>
</div>